<form class="mb-3" id="back_delete_button" method="post" action="{{ path('back_casting_delete', {'id': casting.id}) }}" onsubmit="return confirm('Supprimer ce casting ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ casting.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
