<form class="mb-3" id="back_delete_button" method="post" action="{{ path('back_movie_delete', {'id': movie.id}) }}" onsubmit="return confirm('Supprimer ce film/série ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movie.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
