{% extends "base.html.twig" %}

{% block title %}Test affiche movie{% endblock %}

{% block body %}

<h1>Test affiche movie</h1>
<h2>{{ movie.title }}</h2>

<h3>Les saisons</h3>

<ul>
    {% for season in movie.seasons %}
    <li>Saison {{ season.number }} ({{ season.episodesNumber }} épisodes)</li>
    {% endfor %}
</ul>

{% dump movie %}

{% endblock %}