{# On hérite du template commun entre home et list #}
{% extends "front/main/list_template.html.twig" %}

{% block title %}Bienvenue sur O'flix{% endblock %}

{% block nav_active_home %}active{% endblock %}

{% block header %}
<!-- main -->
<div class="my-5 py-5 text-center">
    <img src="favicon.png" height="100" alt="Logo O'flix" class="mb-3">
    <h1 class="display-6 fw-bold">Films, séries TV et popcorn en illimité.</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-muted">Où que vous soyez. Gratuit pour toujours.</p>
    </div>
</div>
{% endblock %}

{% block sub_title %}Les nouveautés{% endblock %}